HeaderFilterRegex: "include/mprpc/|test/"
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-bounds-pointer-arithmetic,
  google-*,-google-runtime-references,
  performance-*,
  portability-*,
  readability-*,readability-identifier-naming,
  modernize-*,-modernize-use-trailing-return-type,
  hicpp-*,-hicpp-vararg,
  cert-*,-cert-err58-cpp,
  bugprone-*,
CheckOptions:
  # Naming Conventions
  # for these parameters of the naming convention,
  # see https://clang.llvm.org/extra/clang-tidy/checks/readability-identifier-naming.html
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case

  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case

  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: _

  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: CamelCase
