# Formatter for CMake
cmake-format==0.6.13

# Formatter for Python
autopep8==1.5.4

# Documentation
sphinx==3.2.1
breathe==4.20.0
sphinx_rtd_theme==0.5.0
sphinxcontrib-plantuml==0.18
sphinx-autobuild==0.7.1
